// $gameMaxWidth: 4.5em;
// $cardSize: 1em;
// $cardRatio: 0.7045;
// $cardWidth: $cardSize * $cardRatio;
// $minCardMargin: 0.01em;

.game {
  background-color: hsl(138,60%,60%);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 33vh 17vh 50vh;
}

.opponents {
  display: grid;
  grid-template-columns: 50vw 50vw;
  .player {
    padding: 1vh 1vw;
    font-size: 1em;
  }
}

.community {
  font-size: 1.5em;
  .pile {
    margin: 0 auto;
    width: 100%;
  }
  .discard {
    order: 3;
  }
  .draw {
    order: 1;
  }
  .play {
    order: 2;
    .card {
      &:nth-last-child(-n+3) {
        margin-left: -1em;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }

  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-self: center;
  .pile_size_limiter {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    .card {
      flex-shrink: 0;
      margin-left: -3.5em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.self {
  font-size: 2em;
  overflow: hidden;
}

.player_name {
  font-size: 3vw;
}
