// $gameMaxWidth: 4.5em;
// $cardSize: 1em;
// $cardRatio: 0.7045;
// $cardWidth: $cardSize * $cardRatio;
// $minCardMargin: 0.01em;

.game {
  background-color: hsl(138,60%,60%);
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-rows: 33vh 17vh 50vh;
}

.opponents {
  display: grid;
  grid-template-columns: 50vw 50vw;
  z-index: 0;
  .player {
    padding: 1vh 1vw;
    font-size: 1em;
  }
}

.community {
  font-size: 1.5em;
  z-index: 1;
  .pile {
    margin: 0 auto;
    width: 100%;
  }
  .discard {
    order: 3;
  }
  .draw {
    order: 1;
  }
  .play {
    order: 2;
    .card {
      &:nth-last-child(-n+3) {
        margin-left: -1em;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }

  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-self: center;
  .pile_size_limiter {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    .card {
      flex-shrink: 0;
      margin-left: -3.5em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

button.play {
  bottom: 55vh;
  position: absolute;
  right: 3vw;

  font-size: 3rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;

  background-color: #3ea5ff;
  border: black 1px solid;
  box-shadow: inset 0px 2px 0px 0px #dae7ff;
  background: linear-gradient(to bottom, #a8aeff 5%, #738aff 100%);
  &:hover {
    background: linear-gradient(to bottom, #738aff 5%, #a8aeff 100%);
  }

  &[data-destination='in_hand'] {
    right: unset;
    bottom: unset;
    font-size: 2rem;
    top: 33vh;
    height: 7rem;
    width: 7rem;
  }
}

.self {
  display: grid;
  grid-template-columns: 100vw;
  font-size: 2em;
  z-index: 2;
}

.player_name {
  font-size: 3vw;
}
