.hand {
  display: flex;
  flex-direction: column;
  .pile {
    height: 5.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    &.in_hand {
      order: 1;
    }
    &.face_down {
      order: 2;
    }
    &.face_up {
      order: 3;
      margin-top: -5.5em;
    }
  }
}

.self {
  .hand {
    .pile {
      &.face_down {
        order: 1;
      }
      &.in_hand {
        order: 3;
      }
      &.face_up {
        margin-top: -5em;
        order: 2;
      }
    }
  }
}

.pile_size_limiter {
  width: calc(100% - 3.5em);
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(0, 1fr));
  justify-items: center;
}

.self {
  width: 100%;
  .in_hand {
    width: 100%;
    .pile_size_limiter {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      margin: 0 auto;
      justify-content: space-between;
    }
    .card {
      flex-shrink: 0;
    }
    .card-input + .card {
      border-color: hsl(78, 100, 75);
    }
  }
}

.player {
  text-align: center;
}

.player_name {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
}
