.card-input {
  display:none;
}

.card-input:checked + label {
  background-color: hsla(60, 100%, 50%, 50%);
}

.card_inputs {
  display: none;
}

$max_turns: 10;

@for $i from 0 through $max_turns {
  .hand.play#{ $i } .card.play#{ $i } {
    background-color: hsla((360 / $max_turns * $i), 50%, 75%, 50%);
  }
}

.submit-play.visible {
  display: initial;
}

.submit-play {
  display: none;
}
