// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-size: 2vw;
}

body {
  background-color: hsl(138,39%,43%);
  user-select: none;
}
