.game {
  display: grid;
  width: 100%;
  height: 90vh;
  max-width: 750px;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.pile {
  display:flex;
  flex-direction: row;
  flex-shrink: 0;
  .card {
    margin: 0.02em;
  }
}

.opponents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  .card {
    font-size: 5rem;
  }
  .play {
    display:none;
  }
  justify-self: center;
}

.community {
  justify-self: center;
}

.pile.draw {
  .card {
    margin-left: -0.71em;
    font-size: 5rem;
    &:first-child {
      margin-left: 0;
    }
  }
}
